@charset "utf-8";
@font-face {
    font-family: HarmonyOS_Sans_SC;
    src: url("HarmonyOS_Sans_SC_Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: HarmonyOS_Sans_SC;
    src: url("HarmonyOS_Sans_SC_Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: HarmonyOS_Sans_SC;
    src: url("HarmonyOS_Sans_SC_Thin.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: HarmonyOS_Sans_SC;
    src: url("HarmonyOS_Sans_SC_Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: HarmonyOS_Sans_SC;
    src: url("HarmonyOS_Sans_SC_Bold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: HarmonyOS_Sans_SC;
    src: url("HarmonyOS_Sans_SC_Black.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}